@font-face {
    font-family: jaf-herb, serif;
    font-weight: 400;
    font-style: normal;
    src: url(https://use.typekit.net/dvj8loo.css);
}

@font-face {
    font-family: bebas-neue, sans-serif;
    font-weight: 400;
    font-style: normal;
    src: url(https://use.typekit.net/dvj8loo.css);
}

@font-face {
    font-family: gitan-latin, sans-serif;
    font-weight: 400;
    font-style: italic;
    src: url(https://use.typekit.net/dvj8loo.css);
}

@font-face {
    font-family: bely, serif;
    font-weight: 400;
    font-style: normal;
    src: url();
}

@font-face {
    font-family: Maleo;
    src: url(Maleo-Trials/webfonts/MaleoTrials-Regular.woff);
}

@font-face {
    font-family: MaleoI;
    src: url(Maleo-Trials/webfonts/MaleoTrials-MediumItalic.woff);
}

@font-face {
    font-family: PP regular;
    src: url(PP\ Fragment\ Trial/PPFragment-SerifRegular.otf);
}

@font-face {
    font-family: PP light;
    src: url(PP\ Fragment\ Trial/PPFragment-SerifLight.otf);
}

@font-face {
    font-family: PP Sans-regular;
    src: url(PP\ Fragment\ Trial/PPFragment-SansRegular.otf);
}

@font-face {
    font-family: PP Sans-light;
    src: url(PP\ Fragment\ Trial/PPFragment-SansLight.otf);
}

@font-face {
    font-family: Sabon-bold;
    src: url(Sabon-Font/Sabon_Bold.ttf);
}

@font-face {
    font-family: Sabon-italic;
    src: url(Sabon-Font/Sabon_Italic.ttf);
}

@font-face {
    font-family: Sabon-roman;
    src: url(Sabon-Font/Sabon_Roman.ttf);
}

@font-face {
    font-family: PP NM-Medium;
    src: url(PPNeueMontreal/PPNeueMontreal-Medium.otf);
}

body {
    background-color: rgb(0, 0, 0);
    transition: background-color 1s ease;
}

:any-link {
    text-decoration: none;
    color: white;
}

:any-link:hover {
    text-decoration: none;
    color: rgb(255, 206, 44);
}

.image-four {
    height: 250px;
    width: auto;
}

h1 {
    color: white;
    font-size: 2em;
    font-family: PP light;
    text-align: left;
    margin-top: 50px;
    text-align: center;
}

h1:hover {
    color: rgb(255, 206, 44)
}

.container {
    margin-top: 170px;
    margin-bottom: 285px;
}
  
  .poly {
    display: flex;
    margin: auto;
    padding: 35px;
    align-content: center;
    height: 15em;
    width: 22.5%;
    border-radius: 40px;
}

.poly-2 {
    display: flex;
    margin: auto;
    padding: 35px;
    padding-top: 600px;
    align-content: center;
    height: 15em;
    width: 22.5%;
    border-radius: 40px;
}

.poly-3 {
    display: flex;
    margin: auto;
    padding: 35px;
    padding-top: 765px;
    align-content: center;
    height: 15em;
    width: 22.5%;
    border-radius: 40px;
}

.footer {
    color: rgb(255, 255, 255);
    font-family: PP Sans-light;
    font-size: 1em;
    margin-top: 20px;
    align-content: center;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

#sticky_holder{
    position: fixed;
    top: 45rem;
    width: 95%;
    z-index: 2;
  }
  #sticky_holder *{
    color: white !important;
  }
  .sticky_hidden{
    visibility: hidden;
    pointer-events: none;
  }
  #sticky_holder .sticky_hidden{
    height: 0px;
  }

  .text-1 {
    font-size: 1em;
    font-family: PP NM-Medium;
  }

  .text-2 {
    font-size: 1em;
    font-family: PP NM-Medium;
    position: absolute;
    margin-top: 490px;
    margin-left: 47%;
  }

  .text-3 {
    font-size: 1em;
    font-family: PP NM-Medium;
    position: absolute;
    margin-top: 700px;
    margin-left: 47%;
  }

  
  /* panel styles */
.panel {
    /* min height incase content is higher than window height */
    min-height: 400px;
    /* outline: 10px solid hotpink; */
    /* turn above on to see the edge of panels */
  }
  /* colours */
  .color-violet {
    background-color: black;
  }
  .color-indigo {
    background-color: #4332CF;
  }
  .color-blue {
    background-color: #F19031;
  }
  .color-green {
    background-color: #4DCF42;
  }
  .color-yellow {
    background-color: #FAEB33;
  }
  .color-orange {
    background-color: #F19031;
  }
  .color-red {
    background-color: #F2293A;
  }

.next:hover {
    transform: translate(0, 10px);
    color: rgb(255, 206, 44);
}

.back {
    text-align: left;
    display: inline-block;
    position: relative;
    top: 0;
    transition: ease-in-out 1s;
}

.next {
    text-align: right;
    float: right;
    position: relative;
    top: 0;
    transition: ease-in-out 0.5s;
}
  