@font-face {
    font-family: jaf-herb, serif;
    font-weight: 400;
    font-style: normal;
    src: url(https://use.typekit.net/dvj8loo.css);
}

@font-face {
    font-family: bebas-neue, sans-serif;
    font-weight: 400;
    font-style: normal;
    src: url(https://use.typekit.net/dvj8loo.css);
}

@font-face {
    font-family: gitan-latin, sans-serif;
    font-weight: 400;
    font-style: italic;
    src: url(https://use.typekit.net/dvj8loo.css);
}

@font-face {
    font-family: bely, serif;
    font-weight: 400;
    font-style: normal;
    src: url();
}

@font-face {
    font-family: Maleo;
    src: url(Maleo-Trials/webfonts/MaleoTrials-Regular.woff);
}

@font-face {
    font-family: MaleoI;
    src: url(Maleo-Trials/webfonts/MaleoTrials-MediumItalic.woff);
}

@font-face {
    font-family: PP regular;
    src: url(PP\ Fragment\ Trial/PPFragment-SerifRegular.otf);
}

@font-face {
    font-family: PP light;
    src: url(PP\ Fragment\ Trial/PPFragment-SerifLight.otf);
}

@font-face {
    font-family: PP Sans-regular;
    src: url(PP\ Fragment\ Trial/PPFragment-SansRegular.otf);
}

@font-face {
    font-family: PP Sans-light;
    src: url(PP\ Fragment\ Trial/PPFragment-SansLight.otf);
}

@font-face {
    font-family: Sabon-bold;
    src: url(Sabon-Font/Sabon_Bold.ttf);
}

@font-face {
    font-family: Sabon-italic;
    src: url(Sabon-Font/Sabon_Italic.ttf);
}

@font-face {
    font-family: Sabon-roman;
    src: url(Sabon-Font/Sabon_Roman.ttf);
}

@font-face {
    font-family: halyard-text,sans-serif;
    font-weight: 400;
    font-style: normal;
    src: url(https://use.typekit.net/dvj8loo.css);
}

body {
    background-color: black;
}

:any-link {
    text-decoration: none;
    color: white;
}

:any-link:hover {
    text-decoration: none;
    color: rgb(255, 206, 44);
}

h1 {
    color: rgb(255, 255, 255);
    font-family: PP light;
    font-size: 2em;
    margin: auto;
    text-align: center;
    padding: 5px;
}

.back {
    color: rgb(255, 255, 255);
    font-family: PP light;
    font-size: 2em;
    top: 0;
    transition: ease-in-out 0.5s;
    width: 100px;
    margin-top: 150px;
}

.back:hover {
    transform: translate(0, 10px);
    color: rgb(255, 206, 44);
}

pre {
    color: white;
}

.art {
    display: flex;
    position: relative;
}

.spider {
    width: 25%;
}